<h2 md-dialog-title>{{action}}</h2>
<md-dialog-content>
  <form class="form-horizontal" [formGroup]="passwordForm" novalidate>
    <div class="form-group">
      <label class="col-sm-4 control-label">请输入旧密码：</label>
      <div class="col-sm-8">
        <input type="text" onfocus="this.type='password'" class="form-control" autocomplete="off" formControlName="oldPsw" id="oldPsw" placeholder="请输入旧密码！">
        <div class="error" *ngIf="passwordForm.controls['oldPsw'].invalid&&passwordForm.controls['oldPsw'].touched&&!passwordForm.controls['oldPsw'].dirty">
          请输入旧密码
        </div>
        <div class="error" *ngIf="passwordForm.controls['oldPsw'].invalid&&passwordForm.controls['oldPsw'].touched&&passwordForm.controls['oldPsw'].dirty">
          密码不合法，需要6-10位的数字
        </div>
      </div>
    </div>
    <input type="text" style="display: none;">
    <div class="form-group">
      <label class="col-sm-4 control-label">请输入新密码：</label>
      <div class="col-sm-8">
        <input type="text" onfocus="this.type='password'" class="form-control" autocomplete="off" formControlName="firstPsw" id="firstPsw" validateEqual="secondPsw" reverse="true" placeholder="请输入密码！">
        <div class="error" *ngIf="passwordForm.controls['firstPsw'].invalid&&passwordForm.controls['firstPsw'].touched&&!passwordForm.controls['firstPsw'].dirty">
          请输入密码
        </div>
        <div class="error" *ngIf="passwordForm.controls['firstPsw'].invalid&&passwordForm.controls['firstPsw'].touched&&passwordForm.controls['firstPsw'].dirty">
          密码不合法，需要6-10位的数字
        </div>
        <div class="error" *ngIf="passwordForm.controls['firstPsw'].invalid&&passwordForm.controls['firstPsw'].touched&&passwordForm.controls['firstPsw'].dirty&&passwordForm.controls['firstPsw'].validateEqual">
          两次输入的密码不一致
        </div>
      </div>
    </div>
    <input type="text" style="display: none;">
    <div class="form-group">
      <label class="col-sm-4 control-label">请确认新密码：</label>
      <div class="col-sm-8">
        <input type="text" onfocus="this.type='password'" class="form-control" autocomplete="off" formControlName="secondPsw" id="secondPsw" validateEqual="firstPsw" placeholder="请再次输入密码！">
        <div class="error" *ngIf="passwordForm.controls['secondPsw'].invalid&&passwordForm.controls['secondPsw'].touched&&!passwordForm.controls['secondPsw'].dirty">
          请再次输入密码
        </div>
        <div class="error" *ngIf="passwordForm.controls['secondPsw'].invalid&&passwordForm.controls['secondPsw'].touched&&passwordForm.controls['secondPsw'].dirty">
          密码不一致
        </div>
      </div>
    </div>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button class="btn btn-danger" [disabled]="passwordForm.invalid" color="primary" (click)="updatePasswordConfirm()">确认</button>
  <button class="btn btn-primary pull-right"  color="primary" md-dialog-close>关闭</button>
</md-dialog-actions>
