<div class="menuBox">
  <ul>
    <li class="menu-li"><a [routerLink]="['./orderManage']" routerLinkActive="active">订单管理</a></li>
    <li class="menu-li"><a [routerLink]="['./goodsManage']" routerLinkActive="active">商品管理</a></li>
    <li class="menu-li"><a [routerLink]="['./wineManage']" routerLinkActive="active">存酒管理</a></li>
    <li class="menu-li"><a [routerLink]="['./opratorManage']" routerLinkActive="active">操作员管理</a></li>
    <li class="menu-li"><a [routerLink]="['./desksManage']" routerLinkActive="active">桌位管理</a></li>
    <li class="menu-li"><a [routerLink]="['./VIPManage']" routerLinkActive="active">会员管理</a></li>
    <li class="menu-li"><a [routerLink]="['./LotteryManage']" routerLinkActive="active">抽奖管理</a></li>
    <li class="menu-li"><a [routerLink]="['./analysis']" routerLinkActive="active">统计</a></li>
    <li class="menu-li"><a [routerLink]="['./log']" routerLinkActive="active">日志</a></li>
    <li class="menu-li"><a [routerLink]="['/']">退出系统</a></li>
  </ul>
</div>
