.menuBox{
  height: 940px;
  background-color:rgb(190, 215, 230);
  padding-top: 1px;
}
.menuBox ul{
  list-style: none;
}
.menu-li{
  height: 40px;
  width: 88%;
  margin:24px auto;
}
.menu-li a{
  border:1px solid #ccc;
  border-radius: 60px 15px;
  background-color: #eee;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 0 30px #666;
  display: block;
  text-decoration: none;
  color: #bc343c;
}
.menu-li a:hover{
  box-shadow: 0 0 30px rgb(5, 255, 220);
}
.active{
  box-shadow: 0 0 30px rgb(5, 255, 220) !important;
}
.menu-li a:focus{
  color: #bc343c;
  text-decoration: none;
}
.menu-li a:link{
  color: #bc343c;
  text-decoration: none;
}
.menu-li a:active{
  color: #bc343c;
  text-decoration: none;
}
