.desk-top{
  background-color: #eeeeee;
  height:940px;
}
*{
  margin:0;
  padding: 0;
}
.toastContainer{
  display: block;
  width: 300px;
  height:auto;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right:0;
}
.maskDiv{
  position: absolute;
  width:100%;
  height: 940px;
  top: 84px;
  left:0;
  background-color:rgba(0,0,0,0.8);
  z-index:1006
}
.tipsDiv{
  position:relative;
  width:100%;
  height:50px;
  font-size: 18px;
  text-align: center;
  color: white;
}
.passwordDiv{
  position:relative;
  width:200px;
  height:50px;
  top:200px;
  margin:0 auto;
  z-index:1006
}
.operatorConfirmBtn{
  padding:6px 12px ;
}
