<h2 md-dialog-title>操作员详情</h2>
<md-dialog-content>
  <div>
    <div class="row">
      <div class="col-sm-12">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">操作员：</label>
            <div class="col-sm-9">
              {{operatorName}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">手机号码：</label>
            <div class="col-sm-9">
              {{operatorMobileNum}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</md-dialog-content>
<md-dialog-actions>
  <button class="btn btn-danger"  color="primary">确认</button>
  <button class="btn btn-primary pull-right"  color="primary" md-dialog-close>关闭</button>
</md-dialog-actions>
